<!-- app/views/admin/advertisers/edit.html.erb -->

<h1>Edit Advertiser</h1>

<%= render 'advertiser_form' %>

<%= link_to 'Back to Advertisers List', admin_advertisers_path, class: 'btn btn-secondary' %>
