<div class="container my-5">
  <h1 class="text-center mb-4">FallsTrade.com Terms of Service</h1>

  <div class="card">
    <div class="card-body">

      <h2 class="my-3">1. Introduction</h2>
      <p>Welcome to FallsTrade.com. This website is owned and operated by FallsTrade.com. By visiting our website and accessing the information, resources, services, products, and tools we provide, you understand and agree to accept and adhere to the following terms and conditions.</p>

      <h2 class="my-3">2. User Responsibility</h2>
      <p>Users are responsible for their own activities while using FallsTrade.com. Users are required to respect and comply with local, state, national, and international laws at all times.</p>

      <h2 class="my-3">3. Content</h2>
      <p>FallsTrade.com users agree to ensure that their content does not violate any copyright, violate any laws, or infringe upon the rights of any person or entity.</p>

      <h2 class="my-3">4. User Account</h2>
      <p>Users are responsible for maintaining the security of their account on FallsTrade.com. We will not be held liable for any damage or loss that may result from failure to protect account login information.</p>

      <h2 class="my-3">5. Privacy</h2>
      <p>Your privacy is very important to us, which is why we've created a separate Privacy Policy in order to explain in detail how we collect, manage, process, secure, and store your private information.</p>

      <h2 class="my-3">6. Liability</h2>
      <p>FallsTrade.com, its employees, and its affiliates will not be held responsible for any harm, loss, or damage resulting from the use of this website.</p>

      <h2 class="my-3">7. Revisions</h2>
      <p>We reserve the right to change these Terms of Service at any time. Changes will become effective upon posting on the site.</p>

      <h2 class="my-3">8. Termination</h2>
      <p>We reserve the right to terminate any user account for any reason, at our sole discretion.</p>

      <p class="mt-5">For any further questions and notices, please contact us at fallstradedotcom@gmail.com.</p>
      <p>Last Updated: Nov 23rd, 2023</p>

    </div>
  </div>
</div>
