<!-- app/views/poasts/edit.html.erb -->

<div class="container text-center mt-2">
  <h1 class="body-headline-text">Edit Post</h1>
</div>

<div class="container mb-5 custom-form-container">
  <div class="card form card rounded">
    <div class="card-body">
      <div class="col">
        
        <%= render 'form', poast: @poast %>
        
        <div class="mt-3 d-flex justify-content-center">
          <%= link_to 'Back', poast_path(@poast), class: "btn btn-secondary mt-2" %>
        </div>

      </div>
    </div>
  </div>
</div>
