<!-- app/views/poasts/index.html.erb -->
<div class="container mb-5 mt-5">


<% content_for :page_title do %>
  Poasts
<% end %>

<% content_for :custom_buttons do %>
  <% if user_signed_in? %>
  <%= link_to new_poast_path, class: "btn btn-custom mb-3" do %>
    <i class="fa fa-pencil-alt"></i> New Poast
      <% end %>
  <% end %>
<% end %>


<div class="row mt-5">
  <% if @poasts.any? %>
    <% @poasts.each do |poast| %>
      <div class="col-12 col-md-6 col-lg-4">
        <%= render 'shared/poast_card', poast: poast %>
      </div>
    <% end %>
    <div class="col-12">
      <%= paginate @poasts %>
    </div>
  <% else %>
    <p class="col-12">No poasts available.</p>
  <% end %>
</div>

</div>
