<div class="container text-center">
<h1>Create New Poast</h1>

</div>

<div class="container">
  <div class="card rounded">
    <div class="card-body">
      <div class="col">


<%= render 'form', poast: @poast %>

<%= link_to 'Back', poasts_path, class: "btn btn-secondary mt-2" %>


</div>
</div>
</div>
</div>