<div class="card rounded">
  <div class="card-body">
    <%= search_form_for @q, html: { class: 'form-inline justify-content-center' } do |f| %>

      <div class="form-group mb-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text custom-icon">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <%= f.search_field :name_cont, placeholder: 'Search by name', class: 'form-control' %>
        </div>
      </div>

      <div class="form-group mx-sm-3 mb-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text custom-icon">
              <i class="fa fa-list"></i>
            </span>
          </div>
        <%= f.select :category_eq, Company.categories.map { |key, value| [value, key] }.sort_by { |pair| pair.first }.unshift(['All categories', nil]), { include_blank: false, selected: @q.category_eq || nil }, class: 'form-control custom-select' %>

        </div>
      </div>

      <div class="form-group mt-2 mb-2 mx-sm-3">
        <button type="submit" class="btn btn-primary mt-2">
          <i class="fa fa-search"></i> Search
        </button>
      </div>

    <% end %>
  </div>
</div>

