<div class="container">

<%= render @company %>

<% unless @company.description.body.blank? %>
<div class="card mt-4">
  <div class="card-body mt-4">
    <h3 class="card-title"></h3>



<%= @company.description %>
</div>
</div>
<% end %>

<h2 class="mt-4">Comments</h2>
<h2 class="mt-4">Comments</h2>

<div class="list-group">
  <%= render partial: 'comments/comment', collection: @comments %>
</div>

<h2 class="mt-4">Add a New Comment</h2>
<div class="card">
  <div class="card-body">
    <%= render 'comments/form', commentable: @company %>
  </div>
</div>


</div>