/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import "font-awesome";
 @import "section-card";
 @import "header-navbar-hero";
 
 /* Generic resets for all applications from Kevin Powell */
 html {
    color-scheme: light dark;
    
    
 }

 body {
    font-family: system-ui;
    font-size: 1.125rem;
    line-height: 1.6;
    background-color: #f7f7f7;
   
 }


img {
    max-width: 100%;
    display: block; 
}



/* search_user 'toolbar' follow/message css */
.card-top {
   display: flex;
   justify-content: space-between;
 }
 
 .avatar-container {
   flex: 0 0 auto;
 }
 
 .card-icons {
   flex: 0 0 auto;
   display: flex;
   gap: 10px;  /* To give a little space between icons */
 }
 

 
/* Button as link for send message */
.btn-as-link {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: 'arial', sans-serif;  
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}



/* Comment styling */

// Don't shrink the avatar if large block of text in comment/reply
.no-shrink {
   flex-shrink: 0;
 }
 

 /* Comment section */

.gradient-custom { /* fallback for old browsers */ background: #4facfe; /* Chrome 10-25,
   Safari 5.1-6 */ background: -webkit-linear-gradient(to bottom right, rgba(79, 172, 254,
   1), rgba(0, 242, 254, 1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+,
   Safari 7+ */ background: linear-gradient(to bottom right, rgba(79, 172, 254, 1), rgba(0,
   242, 254, 1)) }



/* Pinned Items */

.pinned {
  border: 2px solid gold;
  background-color: #fff9e6;
}



/* BETA tag styling */


.beta::after {
    content: 'BETA';
    font-size: 12px;
    vertical-align: top;
    color: red;
 }

 a.no-underline {
   text-decoration: none;
 }
  
  
.btn-custom {
  background-color: #9c573e; /* Deep blue background */
  color: white; /* White text color */
  font-family: 'Roboto', sans-serif; /* Roboto font */
  font-size: 16px; /* Adjust font size as needed */
  padding: 10px 20px; /* Padding for button size */
  border: none; /* No border for a modern look */
  border-radius: 5px; /* Slightly rounded corners */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for depth */
  cursor: pointer; /* Cursor changes to hand on hover */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */

  margin-right: 5px; /* Adjust spacing between icon and text */
  /* Adding a slight box-shadow for depth */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-custom:hover {
  background-color: #083b66; /* Slightly darker shade on hover */
  color: #ffe; /* Brighter text on hover for contrast */
  /* You can also adjust text-shadow or box-shadow here if needed */
}


/* Custom search box for listings */
.custom-icon i {
  font-size: 1.5rem; /* Adjust the font size of icons */
}

.custom-select {
  padding-left: 2.375rem; /* Adjust padding to align with the icon size */
}

.input-group-text {
  min-width: 2.375rem; /* Adjust the width of input group addon */
}




/* Footer image */

.footer-overlay {
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity as needed */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Optional, for rounded corners */
}








