/* 
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import "font-awesome";
 @import "section-card";
 @import "header-navbar-hero";
 @import "buttons";
 
 /* Generic resets for all applications from Kevin Powell */
 html {
    color-scheme: light dark;
    
    
 }

 body {
    font-family: system-ui;
    font-size: 1.125rem;
    line-height: 1.6;
    background-color: #f7f7f7;
   
 }


img {
    max-width: 100%;
    display: block; 
}

/* Set link color */
a {
  color: #518947; /* Sets the color of all links to #518947 */
  font-weight: bold;
}

a:hover {
  color: darken(#518947, 10%); /* Darkens the link color slightly on hover for visual feedback */
}


/* LOBSTER UTILITY CLASS */
.lobster-font {
    font-family: 'Lobster', cursive;
}

.bevan-font {
    font-family: 'Bevan', serif;
}

.abril-font {
  font-family: 'Abril Fatface', cursive;
}


b {
  font-weight: 700;
}

/* MOVE IMAGE ATTACH BUTTON TO LEFT SIDE OF RICH_TEXT_BOX
/* Instead of hidden on right side off screen on mobile */
.trix-button-row {
  display: flex; /* Enable flexbox */
}

.trix-button-group--file-tools {
  order: -1; /* Move the Attach Files button to the start */
}


/* search_user 'toolbar' follow/message css */
.card-top {
   display: flex;
   justify-content: space-between;
 }
 
 .avatar-container {
   flex: 0 0 auto;
 }
 
 .card-icons {
   flex: 0 0 auto;
   display: flex;
   gap: 10px;  /* To give a little space between icons */
 }
 

 
/* Button as link for send message */
.btn-as-link {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: 'arial', sans-serif;  
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}



/* Comment styling */

// Don't shrink the avatar if large block of text in comment/reply
.no-shrink {
   flex-shrink: 0;
 }
 

 /* Comment section */

.gradient-custom { /* fallback for old browsers */ background: #4facfe; /* Chrome 10-25,
   Safari 5.1-6 */ background: -webkit-linear-gradient(to bottom right, rgba(79, 172, 254,
   1), rgba(0, 242, 254, 1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+,
   Safari 7+ */ background: linear-gradient(to bottom right, rgba(79, 172, 254, 1), rgba(0,
   242, 254, 1)) }



/* Pinned Items */

.pinned {
  border: 2px solid gold;
  background-color: #fff9e6;
  padding: 5px;
  border-radius: 10px;
}



/* BETA tag styling */


.beta::after {
    content: 'BETA';
    font-size: 12px;
    vertical-align: top;
    color: red;
 }

 a.no-underline {
   text-decoration: none;
 }
  



/* Custom search box for listings */
.custom-icon i {
  font-size: 1.5rem; /* Adjust the font size of icons */
}

.custom-select {
  padding-left: 2.375rem; /* Adjust padding to align with the icon size */
}

.input-group-text {
  min-width: 2.375rem; /* Adjust the width of input group addon */
}




/* Footer image */

.footer-overlay {
  background-color: rgba(81, 137, 71, 0.05); /* Green with opacity */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Optional, for rounded corners */
}

/* Footer styling */

/* Footer column styling */
.footer-column {
  background-color: rgba(0, 0, 0, 0.3); /* Black with increased opacity */
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px); /* Frosted glass effect */
}

.footer-column h6 {
  font-family: 'Lobster', cursive; /* Apply the Lobster font */
  font-size: 1.5rem;
  font-weight: bold; /* Increase font weight */
  text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.99); /* Significant shadow */
  margin-bottom: 10px;
}

.footer-column p {
  font-size: 1rem;
  font-weight: bold; /* Increase font weight */
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7); /* Significant shadow */
}

/* Adjustments for mobile view */
@media (max-width: 768px) {
  .footer-column {
    width: 100%; /* Full width on smaller screens */
  }
}



/* headline text like in listings new etc */

.body-headline-text {
  text-align: center;
  color: #FFFFFF; /* White color */
  font-weight: 750; /* To make it heavyweight */
  text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.99); /* Shadow effect similar to dropdown links */
  font-size: 3rem; /* You can adjust the font size as needed */
  
  /* Shadowed box around content */
background-color: rgba(81, 137, 71, 0.7); /* Semi-transparent green background */
  padding: 40px; /* Padding around text */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.3); /* Softer and more spread shadow */
  backdrop-filter: blur(2px); /* Frosted glass effect */
  
  font-family: 'Lobster', cursive; /* This applies the Lobster font */
}


/* Custom card styling, mostly shadows */

.card {

  padding: 2px; /* Padding around the card content */
  border-radius: 10px; /* Rounded corners for the card */
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.3); /* Softer and more spread shadow */
  backdrop-filter: blur(2px); /* Frosted glass effect */
 
  /* Add any other styles you need for your card */
}

.card-heading {
  font-weight: bold; /* Bold font for the card heading */
  margin-bottom: 10px; /* Space below the heading */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for depth */
  /* Additional heading styles if needed */
}

.card-body {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Slightly lighter text shadow for the body */
  /* Additional body styles if needed */
}

/* bold the card title, dont bold the card text, when card is a link */

.card-title {
  font-weight: bold; /* Bold for the title */
}


/* No underline text or list items in cards that are link_to's */
.no-underline .list-group-item,
.no-underline .card-text,
.no-under p {
    font-weight: normal;
    color: black;
    text-shadow: none;
}

.no-underline .fas.fa-envelope {
    color: black; /* or the specific color code you're using for other icons */
}



/* poast_card image fix */

.card-img-top {
  width: 100%; /* Ensures the image is responsive and fits the card width */

  height: auto; /* Maintains aspect ratio */
}







