/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import "font-awesome";


 
 /* Generic resets for all applications from Kevin Powell */
 html {
    color-scheme: light dark;
    
    
 }

 body {
    font-family: system-ui;
    font-size: 1.125rem;
    line-height: 1.6;
   
 }


img {
    max-width: 100%;
    display: block; 
}



 


/* Comment styling */

// Don't shrink the avatar if large block of text in comment/reply
.no-shrink {
   flex-shrink: 0;
 }
 

 /* Comment section */

.gradient-custom { /* fallback for old browsers */ background: #4facfe; /* Chrome 10-25,
   Safari 5.1-6 */ background: -webkit-linear-gradient(to bottom right, rgba(79, 172, 254,
   1), rgba(0, 242, 254, 1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+,
   Safari 7+ */ background: linear-gradient(to bottom right, rgba(79, 172, 254, 1), rgba(0,
   242, 254, 1)) }

/* FT styling */




.beta::after {
    content: 'BETA';
    font-size: 12px;
    vertical-align: top;
    color: red;
 }

 a.no-underline {
   text-decoration: none;
 }
  
 




