<!-- app/views/users/_article.html.erb -->
<div class="card mb-3">
  <div class="card-body">
    <h5><%= link_to article.title, article_path(article) %></h5>
    <p><%= article.description %></p>
  </div>
</div>
