<div class="container mt-5">
  <div class="d-flex justify-content-center mb-5">
    <%= render 'shared/user_search' %>
  </div>

  <div class="row">
    <% @users.each do |user| %>
      <%= render 'shared/user_card', user: user %>
    <% end %>
  </div>

  <div class="mt-4">
    <%= paginate @users %>
  </div>
</div>
