<!-- app/views/jobs/new.html.erb -->

<h1>New Job</h1>

<p>You may only have 1 active job listing at a time, if you would like to post additional jobs please contact us @ 208-738-3090</p>
<%= render 'form' %>

<%= link_to 'Back', jobs_path %>
