<turbo-stream action="replace" target="notification_<%= @notification.id %>">
  <template>
    <!-- Your updated notification markup here -->
    <li id="notification_<%= @notification.id %>">
      <!-- ... -->
      <small>Marked as read</small>
    </li>
  </template>
</turbo-stream>
