<div class="container">
  <div class="card rounded">
    <div class="card-body">
      <div class="col">


<h1>Post New Article</h1>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Back to articles", articles_path %>
</div>

</div>
</div>
</div>
</div>
