<div class="container text-center">
<h1>Post New Article</h1>

</div>

<div class="container">
  <div class="card rounded">
    <div class="card-body">
      <div class="col">


<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Back to articles", articles_path, class: "btn btn-secondary mt-2" %>
</div>

</div>
</div>
</div>
</div>
